<html>
<head>
</head>
<body>
<h1><%= manifest['name'] %> <%= manifest['version'] %></h1>
<div>
<p><%= manifest['description'] %></p>
<p><a href="<%= manifest['home_page'] %>"><%= manifest['home_page'] %></a></p>

</div>
</body>
</html>
